---
layout: default
title: "Zhang Chao's Blog"
tagline: Zhang Chao since 2009.
---
{% include JB/setup %}

## Profiles

github: [http://github.com/zhangchao](http://github.com/zhangchao)!

<h1 class="page-header">
  Zhang Chao's Blog
  <small>
    Android, Linux, Java, Web...
  </small>
</h1>

{% for post in site.posts %}
<h2>
  <a href="{{ post.url }}">
    {{ post.title }}
  </a>
  <div class="post-date" style="float:right">
	<span class="glyphicon glyphicon-time"></span>
	{{ post.date | date_to_string }}
  </div>
</h2>

<article>{{ post.excerpt }}</article>

{% endfor %}

